* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #eaeaea 75.99%, #fff 100%) fixed;
  height: 100%;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

header {
  display: flex;
  justify-items: end;
  background-color: #212b38;
  height: 12vh;
  color: #eaeaea;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}

header .container {
  width: 100%;
  max-width: 75%;
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
}

.titulo-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

h2 {
  font-family: "Cabin";
  src: url(/FONTES/Cabin-VariableFont_wdth\,wght.ttf);
  padding: 2%;
  font-size: 1.5rem;

}

header.light {
  background: #f2f2f2;
}

body.dark {
  background: #212b38;
}

.checkbox {
  opacity: 0;
  position: absolute;
  size: 90%;
}

.label {
  background-color: #f2f2f2;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1);
}

.label .ball {
  background-color: #08c6ab;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon,
.fa-sun {
  color: #212b38;
}

.lane {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Cabin";
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(22, 22, 22, 0.1);
  padding: 2%;
  border-radius: 20px;
  width: 25%;
  min-height: 120px;
  flex-shrink: 0;
  max-height: 645px;
}

.quadros {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 32px;
  height: 100%;
  gap: 2%;
  color: #212b38;
}

.task {
  background: #f2f2f2;
  color: black;
  width: 80%;
  border: 0;
  outline: none;
  padding: 12px;
  font-size: 1rem;
  cursor: text;
}

.task:focus {
  border: 1px solid rgba(117, 117, 117, 0.301);
}

.error-message {
  display: none;
  background-color: red;
  position: absolute;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem !important;
}

.error-message::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 20px solid red;
  top: -20px;
  left: 8%;
}

.taskbox {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 9vh;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(22, 22, 22, 0.15);
  padding: 15px;
  padding-bottom: 18px;
}

.task-date {
  font-size: 0.8rem;
  margin-left: 4%;
  color: rgba(0, 0, 0, 0.6);
}

.taskbox p {
  margin-left: 4%;
  font-size: 1.2rem;
  margin-top: 10px;
}

.menu {
  display: flex;
  list-style: none;
  float: right;
}

.menu li {
  list-style: none;
  position: relative;
  float: right;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  border-radius: 8px;
  opacity: 60%;
  color: #08c6ab;
}

.menu li ul {
  position: absolute;
  top: 25px;
  border-radius: 10px;
  left: 0;
  box-shadow: 2px 3px 10px rgba(22, 22, 22, 0.15);
  background-color: #ffffff;
  display: none;
}

.menu li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha {
  opacity: 20%;
}

.adctarefa {
  margin-top: 3vh;
  display: flex;
}

.addbutton {
  padding: 10px;
  display: flex;
  color: #f2f2f2;
  gap: 10px;
  font-family: "Cabin";
  background-color: #08c6ab;
  align-items: center;
  width: 170px;
  height: 8vh;
  margin-left: 13%;
  border-radius: 100px;
  border: none;
  box-shadow: 3px 3px 8px rgba(22, 22, 22, 0.2);
}

.addbutton:hover {
  cursor: pointer;
  opacity: 80%;
}

.addbutton:active {
  opacity: 60%;
}

.tasks,
.column {
  background-color: hsla(0, 0%, 92%, 0.253);
  height: auto;
  min-height: 8.5vh;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(22, 22, 22, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 640px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  width: 2.4rem;
}

.left.icons {
  width: 10%;
}

.titulo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.titulo .left {
  display: flex;
  align-items: center;
}

.titulo.left .head {
  text-align: left;
  width: 60%;
}

.titulo.left  img {
  float: left;
  margin-right: 2%;
}

.colorButton {
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border: 1px solid hsla(0, 0%, 50%, 0.164);
  box-shadow: 3px 3px 8px rgba(22, 22, 22, 0.2);
}

.colorButton:hover {
  height: 26px;
  width: 26px;
}

.colorPicker {
  animation: 0.6s ease 0s 1 slideInFromLeft;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 1% auto 0 auto;
  height: 100%;
  width: 100%;
}

.colorOption {
  width: 14.5px;
  height: 14.5px;
  cursor: pointer;
  border: none;
  margin: 0.5%;
  opacity: 0.6;
}

.colorOption:hover {
  opacity: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

/* lixeira temporária(teste) */
#clear-all {
  width: 25px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 40px;
}

.btns {
  flex-direction: column;
  display: flex;
  gap: 10px;
  position: relative;
}
/* lixeira temporária(teste) */

@media screen and (max-width: 1130px) {
  .lane {
    flex-grow: 1;
  }

}

@media screen and (max-width: 866px) {
  .quadros {
    flex-wrap: wrap;
    gap: 20px;
  }

  .lane {
    margin-bottom: 20px; 
    max-width: 390px;
    flex-basis: 254px;
    flex-grow: 2;
  }
}

@media screen and (max-width: 592px) {
  .lane {
    width: 100%;
  }
}

